<div class="container">
  <h1>Havana Lovers Cocktails</h1>

  <ul>
    <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <img src="" />
      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <p><%= 'Product description'%></p>
      </div>
    </div>
    <% end %>
  </ul>

  <p><%= link_to 'Add a new cocktail', new_cocktail_path %></p>
</div>
